<table class="table table-striped border">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Nombre</th>
			<th scope="col">Precio</th>
			<th scope="col">Categoria</th>
		</tr>
	</thead>
	<tbody>
		@for (service of services; track service) {
			<tr>
				<th scope="row">{{ service.id }}</th>
				<td>{{ service.name }}</td>
				<td>{{ service.price | currency }}</td>
				<td>
					<dsb-badge-atom
						[text]="service.category"
						[type]="categoryMap[service.category]" >
                    </dsb-badge-atom>
				</td>
			</tr>
		}
	</tbody>
</table>